.preview {
  width: 600px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.preview__container {
  padding-bottom: 50px;
  border-bottom: 1px solid #333;
  margin-bottom: 50px;
}

.preview__title {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.preview__body {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.preview__button {
  display: inline-block;
}

.preview__comments {
  display: flex;
  justify-content: space-between;
}

.comment {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.comment__author {
  color: #666;
  font-weight: bold;
  margin-bottom: 10px;
}
